/* draggable box brightness  */

#draggable {
	width: 40%;
    /* height: 150px; */
    padding: 0.5em;
    position: absolute;
	border-radius: 12px;
    display: none;
    margin: 1vw 2vw 1vw 1vw;
    font-size: 1.2vw;
    font-weight: 500;
    word-spacing: 0.1vw;
    z-index: 9999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
    transition: box-shadow 0.3s, background-color 0.3s; /* Add transitions */
  }

  #cutButton {
    position: absolute;
    top: -1px;
    width: 5%;
    right: 0;
	background-color: rgb(221, 11, 11);
	font-weight: 600;
  }

  #draggable:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7); /* Increase shadow on hover */
    /* background-color: #ffcc00; */
  }

  /* working distance 
   */

   /* draggable box brightness  */

